.user-form {
display: flex;
flex-direction: column;
align-items: center;
}
.login {
  display: block;
  font-size: 50px;
  margin-bottom: 20px;
}
.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-label {
  font-size: 30px;
}
.form-field {
  margin-left: 5px;
  height: 30px;
  width: 100%;
  border: 1px solid #999;
}
.login-btn {
  display: block;
  width: 50%;
  padding: 3px 0;
  margin: 30px;
  border: 1px solid orange;
  font-family: 'Caveat', cursive;
  font-size: 25px;
  background-color: orange;
}

@media (max-width: 1024px) {
  .new_user {
    width: 30%;
  }
  .form-label {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .new_user {
    width: 40%;
  }
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .new_user {
    width: 70%;
  }
  .form-label {
    font-size: 20px;
  }
}